<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@apply & @layers Directive</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../input.css">
</head>
<body>
    <h1>Also Check input.css file</h1>

    <h1>These Elements are using Normal CSS</h1>
    <header class="lrlk">Header Content</header>
    <h3 class="bsdk">This is heading</h3>
    <div class="mcmc">Hello World!</div>
    <button class="lodu">Click Me!</button>
    <footer class="gmbk">Footer Content</footer>

    <h1>These Elements are Using Apply Directives</h1>
    <p class="aaaa">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, accusantium praesentium! Ratione cupiditate eius</p>
    <p class="bbbb">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, accusantium praesentium! Ratione cupiditate eius</p>
    <p class="cccc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, accusantium praesentium! Ratione cupiditate eius</p>
    <p class="dddd">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, accusantium praesentium! Ratione cupiditate eius</p>
    <p class="eeee">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, accusantium praesentium! Ratione cupiditate eius</p>

    <h1>These Elements are using Layers Directives</h1>
    <p class="ffff">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, accusantium praesentium! Ratione cupiditate eius</p>
    <p class="gggg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, accusantium praesentium! Ratione cupiditate eius</p>
    <p class="hhhh">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, accusantium praesentium! Ratione cupiditate eius</p>
    <p class="iiii">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, accusantium praesentium! Ratione cupiditate eius</p>
    <p class="jjjj">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, accusantium praesentium! Ratione cupiditate eius</p>
</body>
</html>
