<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind CSS @apply Directive</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../input.css">
</head>
<body>
    <header class="lrlk">Header Content</header>
    <h1 class="bsdk">This is heading</h1>
    <div class="mcmc">Hello World!</div>
    <button class="lodu">Click Me!</button>
    <footer class="gmbk">Footer Content</footer>

    <h1>Also Check input.css file</h1>

    <p class="aaaa">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, accusantium praesentium! Ratione cupiditate eius</p>
    <p class="bbbb">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, accusantium praesentium! Ratione cupiditate eius</p>
    <p class="cccc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, accusantium praesentium! Ratione cupiditate eius</p>
    <p class="dddd">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, accusantium praesentium! Ratione cupiditate eius</p>
    <p class="eeee">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, accusantium praesentium! Ratione cupiditate eius</p>
    
    <h1 class="bsdk">This is heading 1</h1>
    <h2 class="mcmc">This is heading 2</h2>
    <h3 class="lodu">This is heading 3</h3>
    <h4 class="gmbk">This is heading 4</h4>
    <h5 class="lrlk">This is heading 5</h5>
    
    <p class="aaaa">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, accusantium praesentium! Ratione cupiditate eius</p>
    <p class="bbbb">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, accusantium praesentium! Ratione cupiditate eius</p>
    <p class="cccc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, accusantium praesentium! Ratione cupiditate eius</p>
    <p class="dddd">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, accusantium praesentium! Ratione cupiditate eius</p>
    <p class="eeee">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, accusantium praesentium! Ratione cupiditate eius</p>
</body>
</html>
