<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../dist/output.css">
</head>
<body>
  <h1 class="bg-orange-600 text-3xl font-bold underline">
    Check Custom Tailwind CSS Files(doc + Text File)
    tailwind.config.js
  </h1>

  <h2>Pre Defined Tailwind CSS</h2>
  <div class="mx-12">This is Margin 12</div>
  <div class="text-9xl">This is 9 XL</div>

  <h2>Custom CSS</h2>
  <div class="mx-13">This is Margin 13</div>
  <div class="text-10xl">This is 10 XL</div>

  <div class="mx-15">This is Margin 15</div>
  <div class="text-11xl">This is 11 XL</div>
</body>
<script src="https://cdn.tailwindcss.com"></script>
</html>
