<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Margin</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <h1>Margin</h1>
    <div class="mt-6">mt-6: margin-top</div>
    <div class="mr-4">mr-4: margin-right</div>
    <div class="mb-8">mb-8: margin-bottom</div>
    <div class="ml-2">ml-2: margin-left</div>
    <hr>

    <h1>Add horizontal margin</h1>
    <div class="mx-16">mx-16: horizontal margin</div>
    <div class="mx-8">mx-8: horizontal margin</div>
    <div class="mx-4">mx-4: horizontal margin</div>
    <div class="mx-2">mx-2: horizontal margin</div>
    <hr>

    <h1>Add vertical margin</h1>
    <div class="my-16">my-16: vertical margin</div>
    <div class="my-8">my-8: vertical margin</div>
    <div class="my-4">my-4: vertical margin</div>
    <div class="my-2">my-2: vertical margin</div>
    <hr>

    <h1>Add margin to all sides</h1>
    <div class="m-8">m-8: margin on all sides</div>
    <hr>

    <h1>Using negative values</h1>
    <div class="w-36 h-16 bg-sky-400 opacity-20">Block with no margin</div>
    <div class="-mt-8 bg-sky-300">-mt-8: negative margin-top</div>
    <div class="-mr-4 bg-sky-200">-mr-4: negative margin-right</div>
    <div class="-mb-8 bg-sky-100">-mb-8: negative margin-bottom</div>
    <div class="-ml-2 bg-sky-50">-ml-2: negative margin-left</div>
    <hr>

    <h1>Using logical properties</h1>
    <div dir="ltr">
        <div class="ms-8">ms-8: margin-start</div>
        <div class="me-8">me-8: margin-end</div>
    </div>
    
    <div dir="rtl">
        <div class="ms-8">ms-8: margin-start</div>
        <div class="me-8">me-8: margin-end</div>
    </div>
    <hr>  

    <h1>Other margin properties</h1>
    <div class="m-0">m-0: no margin</div>
    <div class="m-px">m-px: margin of 1px</div>
    <div class="m-auto">m-auto: auto margin</div>
    <div class="m-1">m-1: margin of 0.25rem</div>
    <div class="m-2">m-2: margin of 0.5rem</div>
    <div class="m-3">m-3: margin of 0.75rem</div>
    <div class="m-4">m-4: margin of 1rem</div>
    <div class="m-5">m-5: margin of 1.25rem</div>
    <div class="m-6">m-6: margin of 1.5rem</div>
    <div class="m-7">m-7: margin of 1.75rem</div>
    <div class="m-8">m-8: margin of 2rem</div>
    <div class="m-9">m-9: margin of 2.25rem</div>
    <div class="m-10">m-10: margin of 2.5rem</div>
    <div class="m-11">m-11: margin of 2.75rem</div>
    <div class="m-12">m-12: margin of 3rem</div>
    <div class="m-14">m-14: margin of 3.5rem</div>
    <div class="m-16">m-16: margin of 4rem</div>
    <div class="m-20">m-20: margin of 5rem</div>
    <div class="m-24">m-24: margin of 6rem</div>
    <div class="m-28">m-28: margin of 7rem</div>
    <div class="m-32">m-32: margin of 8rem</div>
    <div class="m-36">m-36: margin of 9rem</div>
    <div class="m-40">m-40: margin of 10rem</div>
    <div class="m-44">m-44: margin of 11rem</div>
    <div class="m-48">m-48: margin of 12rem</div>
    <div class="m-52">m-52: margin of 13rem</div>
    <div class="m-56">m-56: margin of 14rem</div>
    <div class="m-60">m-60: margin of 15rem</div>
    <div class="m-64">m-64: margin of 16rem</div>
    <div class="m-72">m-72: margin of 18rem</div>
    <div class="m-80">m-80: margin of 20rem</div>
    <div class="m-96">m-96: margin of 24rem</div>
    <hr>
</body>
</html>
